
<div class="container-fluid bg-dark text-light mt-5 py-5" id="iletisim">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Bize Ulaşın
                </h4>
                <p class="mb-4">
                    Sorularınız için bize ulaşabilir, randevu ve hizmetlerimiz hakkında bilgi alabilirsiniz.
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123 Cadde, New York, ABD</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@medinova.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+90 212 555 00 00</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Hızlı Bağlantılar
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")"><i class="fa fa-angle-right me-2"></i>Anasayfa</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#hakkimizda"><i class="fa fa-angle-right me-2"></i>Hakkımızda</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#hizmetler"><i class="fa fa-angle-right me-2"></i>Hizmetler</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#ekip"><i class="fa fa-angle-right me-2"></i>Doktorlarımız</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#randevu"><i class="fa fa-angle-right me-2"></i>Randevu</a>
                    <a class="text-light" href="@Url.Action("Index", "Default")#iletisim"><i class="fa fa-angle-right me-2"></i>İletişim</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Popüler Bağlantılar
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#arama"><i class="fa fa-angle-right me-2"></i>Doktor Ara</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#paketler"><i class="fa fa-angle-right me-2"></i>Paketler</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#yorumlar"><i class="fa fa-angle-right me-2"></i>Hasta Yorumları</a>
                    <a class="text-light mb-2" href="@Url.Action("Login", "Account")"><i class="fa fa-angle-right me-2"></i>Giriş Yap</a>
                    <a class="text-light mb-2" href="@Url.Action("Index", "Default")#hizmetler"><i class="fa fa-angle-right me-2"></i>Hizmetlerimiz</a>
                    <a class="text-light" href="@Url.Action("Index", "Default")#iletisim"><i class="fa fa-angle-right me-2"></i>Destek</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Bülten
                </h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="E-posta Adresiniz">
                        <button class="btn btn-primary">Kaydol</button>
                    </div>
                </form>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Bizi Takip Edin</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#!">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">
                    &copy; <a class="text-primary" href="@Url.Action("Index", "Default")">Medinova</a>. Tüm Hakları Saklıdır.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    Tasarım: <a class="text-primary" href="https://htmlcodex.com"
                                target="_blank">HTML Codex</a>. Dağıtım: <a href="https://themewagon.com"
                                                                            target="_blank">ThemeWagon</a>.
                </p>
            </div>
        </div>
    </div>
</div>
